# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib

# Entornos
.venv/
.env
env/
venv/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# VSCode / IDE
.vscode/
.idea/